.CreateQuizText {
text-align: center;
  
}


.createQuiz {

  text-align: center;
  position: fixed;
  bottom: 65%;
  right:20%
}


.updateQuiz {
text-align: center;
  position: fixed;
  bottom: 50%;
  right:20%
}

.deleteQuiz {
text-align: center;
  position: fixed;
  bottom: 35%;
  right: 20%
}

.getQuestions {
 
bottom: 30%;
left: 30%
}